# Output of the build process
dist

# personal research files
research

# MacOS specific files
.DS_Store

# Ignore the .idea directory, which contains project-specific settings for JetBrains IDEs
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/dbnavigator.xml
/.idea/persistence.iml
/.idea/edyant.iml
/.idea/.name
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/dataSources.xml

*.pyc

# virtual environment for Python projects
.venv

# Ignore the .vscode directory, which contains project-specific settings for Visual Studio Code
.vscode

